.terminal {
    min-width: 200px;
    width: 60vw;
    margin: 5vh auto;
    height: 90vh;
    overflow: scroll;
}

.prompt {
  display: inline-block;
  padding-right: 5px;
  color: #57C7FF
}
.terminal .input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 0;
}
