.terminal {
    min-width: 200px;
    width: 60vw;
    margin: 5vh auto;
    height: 90vh;
    overflow: scroll;
}

.prompt {
    display: inline-block;
    padding-right: 10px;
}

.terminal .input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 0;
}