.terminal {
    min-width: 200px;
    width: 50vw;
    margin: 20vh auto;
    height: 60vh;
    overflow: scroll;
}

.terminal .input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 0;
}